<div class="container">
    <h2>Login user</h2>

    {{#if error}}
        {{!-- // bootstrap - owy alert wklejamy --}}
        
        
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
            <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <img src="..." class="rounded me-2" alt="...">
                    <strong class="me-auto">Bootstrap</strong>
                    <small>11 mins ago</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    Hello, world! This is a toast message.
                </div>
            </div>
    </div>
    
        
    <div class="alert alert-danger" role="alert">
            
            
    <button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button>

    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="..." class="rounded me-2" alt="...">
            <strong class="me-auto">Bootstrap</strong>
            <small>11 mins ago</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Hello, world! This is a toast message.
        </div>
    </div>
    
              
            
            {{!-- <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                <img src="..." class="rounded me-2" alt="...">
                <strong class="me-auto">Bootstrap</strong>
                <small class="text-muted">11 mins ago</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Hello, world! This is a toast message.
            </div>
            </div> --}}
            
            <div class="spinner-grow text-danger" role="status">
                <span class="visually-hidden">Loading...</span>
            </div> <br>
            {{message}}
        </div>
    {{/if}}
    {{!-- // robi submit form pod ten link? --}}
    {{!-- <form action="/dupa/login" method="post"> --}}
    <form action="/user/login" method="post">
      {{!-- // zostaje email i password --}}
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" 
            name="email" 
            value="{{user.email}}" placeholder="name@example.com" >
            <label for="email"  >User email </label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="password" 
            name = "password" 
            value="{{user.password}}" placeholder="Password">
            <label for="password" hidden >Password</label>
        </div>
        <button type="submit" class="btn btn-primary ">Login</button>
    </form>
</div>
